
<app-toolbar [showBackButton]="true"></app-toolbar>
<div class="container-center mt-5 animate__animated animate__fadeIn">
  <mat-card *ngIf="users" class="mat-card-custom">
    <div class="user-icon-container">
      <img src="assets/profile.png" alt="profile_image">
    </div>
    <mat-card-content>
      <mat-card-title>{{ users.Name }}</mat-card-title>
      <mat-card-subtitle>{{ users.Email }}</mat-card-subtitle>
      <h3><strong>Job Title:</strong> {{ users.JobTitle }}</h3>
      <h3><strong>Area:</strong> {{ users.Area }}</h3>
      <h3><strong>Phone Number:</strong> {{ users.PhoneNumber }}</h3>
      <mat-card-actions class="justify-content-center">
        <button mat-raised-button routerLink="/users/list">Back</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>

