
<app-toolbar [showBackButton]="true"></app-toolbar>
<div class="container-center mt-5 animate__animated animate__fadeIn">
  <mat-card *ngIf="users" class="mat-card-custom">
    <div class="user-icon-container">
      <img src="{{users.image}}" alt="profile_image">
    </div>
    <mat-card-content>
      <mat-card-title>{{ users.username }}</mat-card-title>
      <mat-card-subtitle>{{ users.email }}</mat-card-subtitle>
      <h3><strong>Phone Number:</strong> {{ users.phone }}</h3>
      <h3><strong>username:</strong> {{ users.username }}</h3>
      <h3><strong>bloodGroup:</strong> {{ users.bloodGroup }}</h3>
      <mat-card-actions class="justify-content-center">
        <button mat-raised-button routerLink="/users/list">Back</button>
      </mat-card-actions>
    </mat-card-content>
    <mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>
  </mat-card>
</div>

