.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.mat-card-custom {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.user-icon-container {

  padding: 20px; /* Ajusta el espacio entre el icono y el contenido */
  background-color: #663BB7;
  border-radius: 20px ;
}

.user-icon-container img {
  max-width: 200px;
  max-height: 200px;
}
