.container-custom {
  background-color: #663bb7;
  border-radius: 0.25rem;
  height: 150px;
  transition: background-color 0.3s ease;
}

.card-custom:hover .container-custom {
  background-color: #532f96; /* Nuevo color de fondo al hacer hover */
}

.user-icon-container img {
  background-color: #2bbd3e;
  max-width: 200px;
  max-height: 200px;
  border-radius: 100%;
  z-index: 1;
  margin-top: -100px;
  transition: transform 0.3s ease;
}

.card-custom:hover .user-icon-container img {
  transform: scale(1.05);
}

.custom-btn {
  width: 150px;
  margin: 0 auto;
}

.card-custom {
  transition: transform 0.8s ease;
}

.card-custom:hover {
  transform: scale(1.01);
}
