/* Estilos generales de la app */

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 86vh;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #dfdfdfc5;
}

/* Estilos del mat-spinner */

.spinner {
  position: absolute;
  top: 80%;
  left: 50%;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #7CB342 !important;
}

/* Estilos del boton custom */

.button-custom {
  background-color: #ffffff !important;
  color: #000000 !important;

}

.button-custom:hover {
  background-color: #7CB342 !important;
  color: #ffffff !important;
}

/* Estilos personalizados del color de la snack-bar */

.mat-mdc-snack-bar-container {
  &.snackbar-custom {
    --mdc-snackbar-container-color: #323233;
    --mat-snack-bar-button-color: #fafafa;
    --mdc-snackbar-supporting-text-color: #7cb342;
  }
}

/* Estilos personalizados de la custom-card */
.container-custom {
  background-color: #323233;
  border-radius: 0.25rem;
  height: 150px;
  transition: background-color 0.8s ease;
}

.card-custom:hover .container-custom {
  background-color: #7cb342;
}


.user-icon-container img {
  background-color: #7cb342;
  max-width: 200px;
  max-height: 200px;
  border-radius: 100%;
  z-index: 1;
  margin-top: -100px;
  border: 1px solid black;
  transition: background-color 0.8s ease;

}

.card-custom:hover .user-icon-container img {
  background-color: #323233;
  transform: scale(1.05);
}

.custom-btn {
  width: 150px;
  margin: 0 auto;
  background-color: #ffffff !important;
  color: #000000 !important;
}

.custom-btn:hover {
  background-color: #7cb342 !important;
  color: #ffffff !important;
}

.card-body-custom {
  background-color: #3232333a;

}

.card-custom {
  transition: transform 0.5s ease;
}

.card-custom:hover {
  transform: scale(1.01);
}