html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #dfdfdfc5;
}

/* Estilos del mat-spinner */

.spinner {
  position: absolute;
  top: 80%;
  left: 50%;
}
