<mat-toolbar color="primary">
  <div class="title-container">
    <img src="assets/logo_white.png" alt="logo" class="logo">
  </div>

  <div class="spacer"></div>

  <ng-container *ngIf="!isSmallScreen">
    <button
      class="m-2"
      mat-button
      *ngIf="showBackButton"
      routerLink="/users/list"
    >
      <mat-icon> supervisor_account </mat-icon>
      Users List
    </button>

    <button class="m-2" mat-button color="warn" (click)="signOut()">
      <mat-icon> exit_to_app </mat-icon> Log Out
    </button>
  </ng-container>

  <ng-template
    [ngTemplateOutlet]="menuTemplate"
    *ngIf="isSmallScreen"
  ></ng-template>
</mat-toolbar>

<ng-template #menuTemplate>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngIf="showBackButton" routerLink="/subscribers/list">
      <mat-icon> supervisor_account </mat-icon>Users List
    </button>

    <button mat-menu-item color="warn" (click)="signOut()">
      <mat-icon> exit_to_app </mat-icon>Log Out
    </button>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="isSmallScreen">
    <mat-icon>menu</mat-icon>
  </button>
</ng-template>
